body{
    font-family: "Arial", "sans-serif";
    width: 1000px;
    margin: 20px auto; /* Me deja un margen automático a izquierda y derecha. Arriba y abajo el margen son 20px */
    padding: 0 20px;
    background-color: aliceblue;
}

input[type=submit]{
    font-size: 24px;
    padding: 12px;
}

.ganar{
    background-color: darkseagreen;
}

.perder{
    background-color: darksalmon;
}

div{
    margin-top: 20px;
}